# dependencies
/node_modules/

# Expo
/.expo/
/dist/
/web-build/
expo-env.d.ts

# Native artifacts
/.kotlin/
/*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro health-check
/.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local environment and tooling
.env*.local
*.tsbuildinfo

# generated native folders
/ios/
/android/

# generated install package
/*.apk
/*.aab
/*.ipa

# IDE directories
.vscode/
.idea/

