name: Test, Build, and Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      # Run your custom deploy script
      - name: Run deployment
        run: ./cicd/deploy
        # env:
          # DEPLOY_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
