name: Deploy Local

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    defaults:
      run:
        working-directory: ./web
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: web/package-lock.json

      - run: npm ci
      - run: npm run build -- --config vite.config.local.js

      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./parking-deploy/docs/html/parking

      - uses: actions/deploy-pages@v4

